.searchBarContainer {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    align-items: center;
}

.iconContainer {
    position: absolute;
    left: 0.9rem;
}

.searchBar {
    width: 100%;
    padding-left: 36px;
    border-radius: 6px;
    border: 1px solid var(--color-gray-200);
    box-shadow: var(--shadow-sm);
    border-radius: 1.5rem;
    padding: 0.60rem 1.2rem;
    padding-left: 2.5rem;
}

.searchBar:focus {
    border: 2px solid var(--color-primary);
    box-shadow: none;
}