.submenu {
    margin: 0;
    max-height: 0;
    padding-left: 1.5rem; 
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
}

.open {
    margin: 0.5rem 0;
    padding-left: 1.5rem; 
    max-height: 500px;
    opacity: 1;
}