.container {
    background-color: var(--color-gray-200);
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-weight: 500;
}