.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-200);
    height: 100vh;
}

.formContainer {
    width: 100%;
    max-width: 600px;
}