@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */

@theme {
  --color-primary: #3B82F6;
  --color-primary-hover: color-mix(in srgb, var(--color-primary) 85%, black);
  --color-primary-active: color-mix(in srgb, var(--color-primary) 70%, black);
  --color-secondary: #9333EA;
  --color-background: #FFFFFF;
  --color-surface: #F9FAFB;
  --color-text: #111827;

  --font-sans: "Inter", sans-serif;
}